@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@700&display=swap');
.about .flex {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.about .flex .image {
  flex: 1 1 40rem;
}

.about .flex .image img {
  width: 100%;
  border-radius: 1.5rem;
}

.about .flex .content {
  flex: 1 1 40rem;
  padding: 2rem;
  background-color: var(--light-bg);
  border-radius: 1rem;
}
.about .flex .content h3 {
  font-size: 3em;
  color: #004376;
  text-transform: uppercase;
  font-family: 'Glegoo', serif;
}
.about .flex .content h6{
    color: #F3C556;
    font-size: 1.5em;
}
.about .flex .content p {
  margin: 1rem 0;
  line-height: 1.3;
  font-size: 1.7rem;
  color: var(--light-color);
}
.about-benefit{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    text-align: center;
    margin: 2rem 5rem;
}
.about-benefit img{
    width: 12rem;
}
.reviews {
  background-color: var(--light-bg);
}
.reviews .box-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: center;
  gap: 1.5rem;
  justify-content: center;
}

.reviews .box-container .box {
  background-color: var(--white);
  box-shadow: 2px 2px 5px rgb(192, 192, 192);
  border-radius: 0.75rem;
  text-align: center;
  padding: 2rem;
}

.reviews .box-container .box img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  float: left;
  box-shadow: 2px 2px 3px rgb(165, 165, 165);
}

.reviews .box-container .box p {
  padding: 1rem 0;
  line-height: 2;
  color: var(--light-color);
  font-size: 1.5rem;
}

.reviews .box-container .box .stars {
  background-color: var(--light-bg);
  display: inline-block;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  border: 1px solid rgb(219, 219, 219);
  padding: 0.5rem 1.5rem;
}

.reviews .box-container .box .stars i {
  font-size: 1.7rem;
  color: var(--orange);
  margin: 0.2rem;
}

.reviews .box-container .box h3 {
  font-size: 2rem;
  color: var(--black);
  margin-top: 1rem;
}

.authors .box-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: center;
  gap: 2rem;
  justify-content: center;
}

.authors .box-container .box {
  position: relative;
  text-align: center;
  box-shadow: 2px 2px 5px rgb(192, 192, 192);
  border-radius: 0.75rem;
  overflow: hidden;
}

.authors .box-container .box img {
  width: 100%;
  height: 40rem;
  object-fit: cover;
}

.authors .box-container .box .share {
  position: absolute;
  top: 0;
  left: -10rem;
}

.authors .box-container .box:hover .share {
  left: 1rem;
}

.authors .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  background-color: var(--white);
  display: block;
  margin-top: 1rem;
  border-radius: 0.75rem;
  color: var(--black);
}

.authors .box-container .box .share a:hover {
  background-color: var(--black);
  color: var(--white);
}

.authors .box-container .box h3 {
  font-size: 2.5rem;
  color: var(--black);
  padding: 1.5rem;
  background-color: var(--white);
}