.dashboard .box-container .box h3 {
    font-size: 5rem;
    color: var(--black);
}

.dashboard .box-container .box p {
    margin-top: 1.5rem;
    padding: 1.5rem;
    background-color: var(--light-bg);
    color: var(--purple);
    font-size: 2rem;
    border-radius: .5rem;
    border: var(--border);
}

.dashboard .box-container .box {
    border-radius: .5rem;
    padding: 2rem;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border: var(--border);
    text-align: center;
}